* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}
button, li, input {
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-size: 17px;
}

body {
    background-color: peachpuff;
    padding: 0 20px;
    height: 100%;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightcoral;
}
#container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 20px;
    background: pink;
    height: 100%;
    text-align: center;
}
button {
    height: 40px;
    width: 130px;
    border-radius: 20px;
    margin: 0 15px 25px;
}
#header {
    text-align: center;
    margin-bottom: 40px;
    user-select: none;
}
#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
}
.list-element {
    display: flex;
    height: 70px;
    margin: 10px;
    min-width: 400px;
    flex-direction: row;
    padding: 8px 2px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.todo-text, #addTask {
    width: 75%;
    border-radius: 4px;
    /* background-color: blue; */
    font-size: 25px;
}
.check { 
    background-color: green;
    height: 30px;
    width: 30px;
}

.black {
    color: black;
}

.highlight {
    background-color: palevioletred;
    opacity: 0.5;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
    opacity: 0.8;
}
.red {
    background-color: red;
    opacity: 0.8;
}
.night-mode {
    color: black;
    background: grey;
}

